<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interactive-Map</title>

    <!-- Style -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/index-style.css" rel="stylesheet" type="text/css">
    <link href="/css/map.css" rel="stylesheet" type="text/css">
    <link href="/css/checkbox.css" rel="stylesheet" type="text/css">
    <link href="/css/comments.css" rel="stylesheet" type="text/css">
    <link href="/css/routing.css" rel="stylesheet" type="text/css">

    <!-- jQuery i jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

     <!-- Leaflet routing -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

</head>

<body>
    <img id="oni_bcg" src="/assets/img/oni_bcg.png">
    <!-- Logo & Profile -->
    <h1 class="logo">Interactive Map <br> <a class="logo-move">of Japan</a></h1>
    <a href="/profile" class="reglog-button-switch"><img src="/assets/img/user.png" class="profile-img" alt="Profile"></a>
    <h2 class="greetings">Hi, <%= name %></h2>
    <input type="hidden" id="user-id" value="<%= user_id %>">
    <input type="hidden" id="user-email" value="<%= email %>">
    <input type="hidden" id="user-name" value="<%= name %>">

    <!-- Mapa & Filtry & Wyszukiwarka -->
    <div class="map-section">
        <input type="text" id="search-input" class="search-box" placeholder="Search">
        <div class="filters-box">
            <div class="filters-title-box">
                <label for="filters-title" class="filters-title">Filters</label>
            </div>
            <label for="religion" id="religion-label"><b style="color:#f54b55;"><a href="#religion-nav">Religion:</a></b></label>
            <div class="filter-box religion" id="religion-nav">
                <ul id="filters-religion-ul"></ul>
            </div>
            <label for="type" id="type-label"><b style="color:#f54b55;"><a href="#type-nav">Type:</a></b></label>
            <div class="filter-box type" id="type-nav">
                <ul id="filters-type-ul"></ul>
            </div>
            <label for="era" id="era-label"><b style="color:#f54b55;"><a href="#era-nav">Era:</a></b></label>
            <div class="filter-box era" id="era-nav">
                <ul id="filters-era-ul"></ul>
            </div>
            <label for="prefecture" id="prefecture-label"><b style="color:#f54b55;"><a href="#prefecture-nav">Prefecture:</a></b></label>
            <div class="filter-box prefecture" id="prefecture-nav">
                <ul id="filters-prefecture-ul"></ul>
            </div>
            <label for="deity" id="deity-label"><b style="color:#f54b55;"><a href="#deity-nav">Deity:</a></b></label>
            <div class="filter-box deity" id="deity-nav">
                <ul id="filters-deity-ul"></ul>
            </div>
            <label for="year" id="year-label"><b style="color:#f54b55;"><a href="#year-nav">Year:</a></b></label>
            <div class="filter-box year" id="year-nav">
                <div class="input-range-box">
                    <input type="number" id="range-from" placeholder="From" value="0">
                    <input type="number" id="range-to" placeholder="To" value="2024">
                </div>
            </div>
        </div>
        <div id="map-id" class="map-box"></div>
        <div class="route-box">
        </div>
    </div>

    <!-- Opis -->
    <div class="object-section">
        <div class="object-name-box">
            <label for="object-name" class="obj-name"></label>
            <input type="hidden" id="obj-id" value="">
        </div>
        <div class="object-det-box">
            <img src="/assets/img/placeholder.jpg" class="object-img">
            <div class="stars">
                <img src="/assets/img/empty_star.png" class="star first">
                <img src="/assets/img/empty_star.png" class="star second">
                <img src="/assets/img/empty_star.png" class="star third">
                <img src="/assets/img/empty_star.png" class="star fourth">
                <img src="/assets/img/empty_star.png" class="star fifth">
            </div>
            <label for="object-details" class="object-det">
                <ul class="object-det-list">
                    <li id="type" class="object-det-list-item"><b style="color:#f54b55;">Type: </b></li>
                    <li id="prefecture" class="object-det-list-item"><b style="color:#f54b55;">Prefecture: </b></li>
                    <li id="religion" class="object-det-list-item"><b style="color:#f54b55;">Religion: </b></li>
                    <li id="deities" class="object-det-list-item"><b style="color:#f54b55;">Deities: </b>
                        <ul id="deities-list">
                        </ul>
                    </li>
                    <li id="era" class="object-det-list-item"><b style="color:#f54b55;">Era: </b></li>
                    <li id="year" class="object-det-list-item"><b style="color:#f54b55;">Year: </b></li>
                </ul>
            </label>
        </div>
        <div class="object-desc-box">
            <label for="object-description" class="object-desc"></label>
        </div>
        <div class="object-com-box">
            <ul class="comment-ul" id="comment-list">
            </ul>
        </div>
        <div class="add-comment" id="add-comment-id">
            <form class="add-comment-form" id="add-comment-form-id">
                <textarea class="add-comment-content" id="add-comment-content-id" placeholder="Type your comment..."></textarea>
                <input type="submit" class="submit-new-comment" id="submit-new-comment-id" value="Add comment" disabled>
                <input type="button" class="submit-modified-comment" id="submit-modified-comment-id" value="Modify comment" hidden>
                <input type="button" class="cancel-modified-comment" id="cancel-modified-comment-id" value="Cancel" hidden>
            </form>
            <div class="user-rating">
                <img src="assets/img/trashcan.png" class="delete-rating">
                <div class="all-stars">
                    <img src="/assets/img/empty_star.png" class="ustar first" data-rating="1">
                    <img src="/assets/img/empty_star.png" class="ustar second" data-rating="2">
                    <img src="/assets/img/empty_star.png" class="ustar third" data-rating="3">
                    <img src="/assets/img/empty_star.png" class="ustar fourth" data-rating="4">
                    <img src="/assets/img/empty_star.png" class="ustar fifth" data-rating="5">
                </div>
                <a id="user-rating-label-id" class="user-rating-label"></a>
            </div>
        </div>
    </div>

    <!-- Stopa -->
    <div class="footer-box">
        <span class="footer-author">
            Interactive map of culture and monuments from ancient and modern Japanese mythology.
            <br>
            Author: Bartosz Sobański
        </span>
    </div>

    <!-- <script src="scripts.js"></script> -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/routeList.js"></script>
    <script src="/scripts/rating.js"></script>
    <script src="/scripts/objectRandom.js"></script>
    <script src="/scripts/commentHandlers.js"></script>
    <script src="/scripts/object.js"></script>
    <script src="/scripts/newComment.js"></script>
    <script src="/scripts/loadFilters.js"></script>
    <script src="/scripts/routesData.js"></script>
</body>
</html>