<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body class="reglog-body">

    <script src="/assets/fog/three.js"></script>
    <script src="/assets/fog/fog.js"></script>
    <script src="/assets/fog/vanta-settings.js"></script>
</body>
</html>