<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/reglog-style.css" rel="stylesheet" type="text/css">
</head>

<body class="reglog-body">

    <h1 class="logo">Interactive Map <br> <a class="logo-move">of Japan</a></h1>
    <div class="reglog-container">
        <h1 class="reglog-title">Login</h1>
        <div class="error-message">
        <% if (messages.error) {%>
            <%= messages.error %>
            <% } %>
        </div>
        <form action="/login" method="POST" class="reglog-form-container">
            <div>
                <!-- <label for="email">Email</label> -->
                <input type="email" id="email" name="email" placeholder="email" value="admin@admin" required>
            </div>
            <div>
                <!-- <label for="password">Password</label> -->
                <input type="password" id="password" name="password" placeholder="password" value="admin" required>
            </div>
            <button type="submit"> Login </button>
        </form>
        <a class="reglog-subtitle">Don't have an account yet?</a>
        <a href="/register" class="reglog-button-switch">Register now!</a>
    </div>
    <!-- <footer>

    </footer> -->
</body>
</html>