<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interactive-Map</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body class="reglog-body">

    <h1 class="logo">Interactive Map <br> <a class="logo-move">of Japan</a></h1>
    <img id="oni_bcg" src="/assets/img/oni_bcg.png">
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit"> Log Out </button>
    </form>

    <a href="/" class="reglog-button-switch">Back to map</a>

    <script src="/assets/fog/three.js"></script>
    <script src="/assets/fog/fog.js"></script>
    <script src="/assets/fog/vanta-settings.js"></script>
</body>
</html>

