.comment-ul{
    list-style-type: none;
}
#comment-li{
    margin-left:-40px;
}
.comment-box{
    border:1px solid rgba(255, 255, 255, 0.2);
    border-radius:3px;
    width:100%;
    height:75px;
    margin-bottom:10px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.comment-box::-webkit-scrollbar {
    display: none;
    }
.comment-name{
    color:#f54b55;
    margin:5px;
    font-size:18px;
    float:left;
    font-weight:700;
}
.comment-date{
    color:#f54b55;
    margin:5px;
    float:right;
    font-weight:700;
}
.comment-content{
    margin:5px;
    font-size:13px;
}
.add-coment{
    width: calc(100% - 20px);
    height:70px;
    border-radius:10px;
    padding:10px;
    border:1px solid rgba(255, 255, 255, 0.2);
    margin-top:10px;
    float:left;
}
.add-comment-content{
    width: calc(100% - 25px);
    height: 50px;
    margin-top:10px;
    margin-left:10px;
    resize: none;
    color:#fafafa;
    outline: none; /* usuwa obramowanie po kliknięciu */
    background-color: transparent; /* usuwa tło po kliknięciu */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.add-comment-content::-webkit-scrollbar {
display: none;
}
.submit-new-comment{
    width:140px;
    height:30px;
    background-color: #f54b55;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius:10px;
    margin-left:10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight:700;
    float:left;
}
.submit-new-comment:hover{
    background-color: #c62731;
}
.submit-modified-comment{
    width:140px;
    height:30px;
    background-color: #f54b55;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius:10px;
    margin-left:10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight:700;
    float:left;
}
.cancel-modified-comment:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.cancel-modified-comment{
    width:140px;
    height:30px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius:10px;
    margin-left:10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight:700;
    float:left;
}
.submit-modified-comment:hover{
    background-color: #c62731;
}
.ustar.first, .ustar.second, .ustar.third, .ustar.fourth, .ustar.fifth{
    width:25px;
    height:25px;
    margin:3px;
}
.ustar.first:hover, .ustar.second:hover, .ustar.third:hover, .ustar.fourth:hover, .ustar.fifth:hover {
    cursor: pointer;
}
.user-rating{
    width:330px;
    float:right;
    margin-right:10px;
}
.all-stars{
    float:right;
}
.user-rating-label{
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Tahoma;
    font-weight:700;
    margin-right:10px;
    float:right;
    margin-top:7px;
}