a { 
    color: inherit;
    text-decoration: none;
} 
.profile-img{
    padding:20px;
    width:52px; 
    height:52px;
    float:right;
}
.greetings{
    margin-top:32px;
    float:right;
    user-select: none;
    color:#fafafa;
}
/* Map Section */
.map-section{
    width:880px;
    height:750px;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius:7px;
    color:#fafafa;
    clear:both;
    float:left;
    margin:20px;
    padding:10px;
}
.map-box{
    width:600px;
    height:600px;
    border-radius:10px;
    float:left;
}
.search-box{
    width:580px;
    padding:10px;
    border:0;
    margin-bottom:10px;
    border-radius:10px;
    background-color:#fafafa;
    float:left;
}
.filters-box{
    width:250px;
    height:625px;
    padding:10px;
    margin-bottom:10px;
    border-radius:10px;
    background-color:rgba(0, 0, 0, 0.2);
    float:right;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align:center;
}
.filters-box::-webkit-scrollbar {
    display: none;
}
.filter-box{
    width:100%;
    margin-bottom:10px;
    margin-top:10px;
    transition: all .5s ease-in-out;
    height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.filter-box::-webkit-scrollbar {
    display: none;
}
.filter-box.religion:target {
    height:90px;
}
.filter-box.type:target {
    height:155px;
}
.filter-box.era:target {
    height:350px;
}
.filter-box.prefecture:target {
    height:350px;
}
.filter-box.deity:target {
    height:350px;
}
.input-range-box{
    width:100%;
    margin-left:30px;
}
.filter-box.year:target {
    height:50px;
}
#filters-religion-ul, #filters-type-ul, #filters-era-ul, #filters-prefecture-ul, #filters-deity-ul{
    list-style-type: none;
}
.filters-title-box{
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;
}
.filters-title{
    color:#fafafa;
    font-family:tahoma;
    font-size:24px;
    justify-content: center;
    font-family:Tahoma;
}
/* Object Section */
.object-section{
    width:880px;
    height:750px;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius:7px;
    color:#fafafa;
    float:right;
    margin:20px;
    padding:10px;
}
.obj-name{
    color:#f54b55;
    font-family:tahoma;
    font-size:24px;
    margin-left:10px;
}
.object-name-box{
    width:calc(100% - 345px);
    height:35px;
    border-radius:10px;
    background-color:rgba(0, 0, 0, 0.2);
    margin-bottom:10px;
    padding-top:5px;
    float:left;
    display: flex;
    justify-content: center;
}
.object-rating-box{
    width:calc(100% - 545px);
    height:35px;
    border-radius:10px;
    background-color:rgba(0, 0, 0, 0.2);
    margin-bottom:10px;
    padding-top:5px;
    float:right;
}
.object-desc{
    color:#fafafa;
    font-family:tahoma;
    font-size:14px;
}
.object-desc-box{
    width:515px;
    height:380px;
    border-radius:10px;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.2);
    float:left;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.object-desc-box::-webkit-scrollbar {
display: none;
}
.object-det-box{
    width:335px;
    height:450px;
    border-radius:10px;
    background-color:rgba(0, 0, 0, 0.2);
    float:right;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.star.first, .star.second, .star.third, .star.fourth, .star.fifth{
    width:25px;
    height:25px;
    margin:3px;
    
}
.stars{
    display: flex;
    justify-content: center;
}
.object-det-box::-webkit-scrollbar {
display: none;
}
.object-img{
    width:250px;
    height:250px;
    margin-left:45px;
    border-radius:5px;
    margin-top:10px;
}
.object-det{
    margin-left:40px;
}
.object-com-box{
    width: calc(100% - 20px);
    height:170px;
    border-radius:10px;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.2);
    margin-top:10px;
    clear:both;
    float:left;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.object-com-box::-webkit-scrollbar {
display: none;
}
.object-det-list-item{
    margin-bottom:15px;
    list-style-type: none;
}
/* Route itself*/
.flush-route-box{
    position: absolute;
    top:780px;
    left:830px;
    width:80px;
    height:80px;
}
.route-box {
    width: 780px;
    height: 75px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.route-box::-webkit-scrollbar {
    width: 12px; /* szerokość paska przewijania */
}

.route-box::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* kolor tła ścieżki przewijania */
    border-radius: 10px; /* promień zaokrąglenia */
}

.route-box::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1); /* kolor paska przewijania */
    border-radius: 10px; /* promień zaokrąglenia */
}

.route-box::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1); /* kolor paska przewijania po najechaniu myszą */
}
.route-item {
    flex: 0 0 auto;
    position: relative;
    width: 100px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.route-item-name {
    color: #fafafa;
    font-size: 12px;
    margin-top: 5px;
    font-family: Tahoma;
}

.route-item-trash {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
}

.route-item-bcg {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 10%;
    user-select: none;
    pointer-events: none;
}

/* Trashcan */
.delete-rating{
    width:25px;
    height:25px;
    margin:3px;
    float:right;
}
.delete-rating:hover{
    cursor: pointer;
}
.delete-comment{
    width:25px;
    height:25px;
    margin:3px;
    float:right;
}
.delete-comment:hover{
    cursor: pointer;
}
.edit-comment{
    width:25px;
    height:25px;
    margin:3px;
    float:right;
}
.edit-comment:hover{
    cursor: pointer;
}
.accept-comment{
    width:25px;
    height:25px;
    margin:3px;
    float:right;
}
.accept-comment:hover{
    cursor: pointer;
}
/* Footer Section */
.footer-box{
    width:100%;
    height:30px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.footer-author{
    color:#fafafa;
    opacity:0.2;
    user-select: none;
}