.pop-up{
    width:400px;
}
.details-butt, .toRoute-butt{
        width:120px;
        height:50px;
        background-color: #f54b55;
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        font-size: 14px;
        margin: 4px 2px;
        margin-top:15px;
        margin-bottom:10px;
        border-radius:10px;
        transition-duration: 0.4s;
        cursor: pointer;
        font-weight:700;
}
.details-butt:hover, .toRoute-butt:hover{
    background-color: #c62731;
}
.details-butt{
    float:right;
}