/* Forms */
input[type=text], input[type=email], input[type=password] {
    width:220px;
    padding:10px;
    border:0;
    margin-bottom:10px;
    box-shadow:0 0 25px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    background-color:#fafafa;
  }

button[type=submit] {
    width:240px;
    background-color: #9ae673; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    margin-top:15px;
    margin-bottom:10px;
    border-radius:10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight:700;
}
button[type=submit]:hover {
    background-color: #a8e887;
}